#Segurança e Privacidade  
.env  
.env.*  
*.pem  
*.key  
*.crt  
*.p12  
*.pfx  
*.cer  
*.enc  
secrets/  
config/secrets/  
certs/  
id_rsa*  
id_dsa*  
*.gpg  

#Logs e Arquivos Temporários  
*.log  
*.tmp  
*.temp  
*.swp  
*.swo  
*.bak  
*.orig  
*.rej  
*.lock  
*.pid  
*.seed  
*.DS_Store  
Thumbs.db  

#Cache do Sistema e Editores  
.cache/  
.idea/  
.vscode/  
*.eslintcache  
*.stylelintcache  
.jest/  
.nyc_output/  
*.~*  

#Dependências  
node_modules/  
bower_components/  

#Arquivos de Build  
dist/  
build/  
out/  
*.min.js  
*.min.css  
*.map  

#Relacionados ao Sass ou Less  
*.sass-cache/  
*.scss-cache/  
*.map  

# Arquivos de Teste e Cobertura  
*.spec.js  
*.test.js  
coverage/  
coverage/*  
.jest/  

#HTML e Templates Temporários  
*.html~  
*.ejs~  

#Imagens Temporárias ou Geradas  
*.png~  
*.jpg~  
*.gif~  
*.svg~  

#Pacotes e Arquivos de Deploy  
*.zip  
*.tar.gz  
*.rar  

#Configurações Locais e do Git  
.gitconfig.local  
.gitignore.local  
.gitmodules  

#Arquivos Relacionados ao Docker ou CI/CD  
.docker/  
docker-compose.override.yml  

#Arquivos de Mídia  
media/  
*.mp4  
*.mp3  
*.wav  
*.flac  
*.avi  
*.mov  

#Proteção Extra para Credenciais Sensíveis  
**/secrets.*  
**/private/  
**/keys/  
**/configs/  
