* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fafaf8;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

header > img {
  width: 50px;
}

header > h1 {
  font-weight: 400;
  margin: 0;
}

main {
  padding: 30px 30px 10px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #fafaf8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}

ul.ingredients-list > li {
    color: #475467;
    line-height: 28px;
    cursor: pointer; /* Indica que é clicável */
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

ul.ingredients-list > li:hover {
    color: #D17557; /* Cor mais chamativa no hover */
    text-decoration: line-through; /* Mostra que será removido */
}


.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #f0efeb;
  padding: 10px 28px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.get-recipe-container p {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 20px;
  margin: 0;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #d17557;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #fafaf8;
  padding: 9px 17px;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.3s ease; /* Transition for smooth visual effects */
}

/* Hover state: when the user hovers over the button */
.get-recipe-container button:hover {
  background: #c15d4d; /* Darken the background on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Increase shadow to give depth */
  transform: translateY(-2px); /* Slight lift effect */
}

/* Active state: when the user clicks the button */
.get-recipe-container button:active {
  background: #b14f42; /* Even darker background when clicked */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow to simulate pressing */
  transform: translateY(1px); /* Button pressed effect */
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: 8px;
}
