.message {
  padding: 0.8em 1.2em;
  border-radius: 0.2em;
  border: 1px solid #265559;
  color: #265559;
  background-color: #e0f0f2;
}

.message--success {
  border-color: #cfe8c9;
  color: #2f5926;
  background-color: #cfe8c9;
}

.message--warning {
  color: #594826;
  border-color: #594826;
  background-color: #e8dec9;
}

.message--error {
  border-color: #59262f;
  color: #59262f;
  background-color: #e8c9cf;
}

/*
Buttons

Buttons are available in a number of sizes and
colors. You may mix and match any size with any
color.

Markup:
<button class="button {{modifier_class}}">
  click here
</button>

.button--success  - A green success button
.button--danger   - A red danger button
.button--small    - A small button
.button--large    - A large button

Styleguide Buttons
*/
.button {
  padding: 0.5em 0.8em;
  border: 1px solid #265559;
  border-radius: 0.2em;
  background-color: transparent;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.button--danger {
  border-color: #e8c9c9;
  color: #fff;
  background-color: #a92323;
}

.button--success {
  border-color: #cfe8c9;
  color: #fff;
  background-color: #2f5926;
}

.button--small {
  font-size: 0.8rem;
}

.button--large {
  font-size: 1.2rem;
}

/*
Media

Displays an image on the left and body content
on the right.

Markup:
<div class="media {{modifier_class}}">
  <img class="media__image" src="https://placehold.co/150X150" />
  <div class="media__body">
    <h4>Strength</h4>
    <p>
      Strength training is an important part of injury prevention. Focus on
      your core&mdash; especially your abs and glutes.
    </p>
  </div>
</div>

.media--stacked - Horizontal media element 

Styleguide Media
*/

.media {
  padding: 1.5em;
  background-color: #eee;
  border-radius: 0.5em;
  display: flex;
  gap: 1.5em;
}

.media--stacked {
  flex-direction: column;
  align-items: start;
  max-width: 50%;
}

.media--right > .media__image {
  order: 1;
}

.media__image {
  max-width: 100%;
  height: auto;
}

.media__body {
  overflow: auto;
  margin-top: 0;
  text-align: justify;
}

.media__body > h4 {
  margin-top: 0;
}

/*
Dropdown

A dropdown menu. Clicking the toggle button opens
and closes the drawer.

Use JavaScript to toggle the `is-open` class in
order to open and close the dropdown.

Markup:
<div class="dropdown">
  <button class="dropdown__toggle">Open menu</button>
  <div class="dropdown__drawer">
    Drawer contents
  </div>
</div>
<div class="dropdown">
  <button class="dropdown__toggle">Open menu</button>
  <div class="dropdown__drawer">
    Drawer contents
  </div>
</div>

Styleguide Dropdown
*/
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown__toggle {
  padding: 0.5em 2em 0.5em 1.5em;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #eee;
}

.dropdown__toggle::after {
  content: "";
  position: absolute;
  right: 1em;
  top: 1em;
  border: 0.3em solid;
  border-color: black transparent transparent;
}

.dropdown__drawer {
  display: none;
  position: absolute;
  left: 0;
  top: 2.1em;
  min-width: 100%;
  background-color: #eee;
}

.dropdown.is-open .dropdown__toggle::after {
  top: 0.7em;
  border-color: transparent transparent black;
}

.dropdown.is-open .dropdown__drawer {
  display: block;
}

.menu {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  border: 1px solid #999;
}

.menu > li + li {
  border-top: 1px solid #999;
}

.menu > li > a {
  display: block;
  padding: 0.5em 1.5em;
  background-color: #eee;
  color: #369;
  text-decoration: none;
}

.menu > li > a:hover {
  background-color: #fff;
}

.menu--horizontal {
  display: flex;
}

.menu--horizontal > li + li {
  border-left: 1px solid #999;
}

.dropdown-flex {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.dropdown-flex .dropdown__toggle::after {
  content: "";
  position: absolute;
  right: 1em;
  top: 1em;
  border: 0.3em solid;
  border-color: black transparent transparent;
}

.dropdown-flex .dropdown__drawer {
  margin: 0;
  display: none;
  min-width: 100%;
  background-color: #eee;
}

.dropdown-flex.is-open .dropdown__toggle::after {
  top: 0.7em;
  border-color: transparent transparent black;
}

.dropdown-flex.is-open .dropdown__drawer {
  display: block;
}
