/* 
Messages

Estilos para mensagens de feedback visual. Diferentes 
modificadores fornecem feedback de sucesso, aviso ou erro.

Markup:
<div class="message {{modifier_class}}">
  Your message content here.
</div>

.message--success - Estilo de mensagem para sucesso.
.message--warning - Estilo de mensagem para aviso.
.message--error   - Estilo de mensagem para erro.

Styleguide Messages
*/
.message {
  padding: 0.8em 1.2em;
  border-radius: 0.2em; /* Bordas levemente arredondadas */
  border: 1px solid #265559;
  color: #265559;
  background-color: #e0f0f2; /* Fundo claro para contraste */
}

.message--success {
  border-color: #cfe8c9; /* Borda em tom de verde claro */
  color: #2f5926; /* Texto em verde escuro */
  background-color: #cfe8c9; /* Fundo em verde claro */
}

.message--warning {
  color: #594826; /* Texto em tom de marrom */
  border-color: #594826; /* Borda em tom de marrom */
  background-color: #e8dec9; /* Fundo bege */
}

.message--error {
  border-color: #59262f; /* Borda em tom de vermelho escuro */
  color: #59262f; /* Texto em vermelho escuro */
  background-color: #e8c9cf; /* Fundo em vermelho claro */
}

/* 
Buttons

Estilos para botões. Os modificadores permitem 
personalização de cor e tamanho.

Markup:
<button class="button {{modifier_class}}">
  click here
</button>

.button--success  - Botão verde para sucesso.
.button--danger   - Botão vermelho para ações críticas.
.button--small    - Botão menor.
.button--large    - Botão maior.

Styleguide Buttons
*/
.button {
  padding: 0.5em 0.8em;
  border: 1px solid #265559;
  border-radius: 0.2em; /* Bordas levemente arredondadas */
  background-color: transparent;
  font-size: 1rem;
  color: #333;
  font-weight: bold; /* Texto em negrito */
}

.button--danger {
  border-color: #e8c9c9; /* Borda em vermelho claro */
  color: #fff; /* Texto branco */
  background-color: #a92323; /* Fundo em vermelho escuro */
}

.button--success {
  border-color: #cfe8c9; /* Borda em verde claro */
  color: #fff; /* Texto branco */
  background-color: #2f5926; /* Fundo em verde escuro */
}

.button--small {
  font-size: 0.8rem; /* Tamanho menor para texto */
}

.button--large {
  font-size: 1.2rem; /* Tamanho maior para texto */
}

/* 
Media

Elemento de mídia exibindo uma imagem à esquerda 
e conteúdo à direita. Pode ser ajustado para uma 
exibição empilhada.

Markup:
<div class="media {{modifier_class}}">
  <img class="media__image" src="https://placehold.co/150X150" />
  <div class="media__body">
    <h4>Title</h4>
    <p>Body content here.</p>
  </div>
</div>

.media--stacked - Exibição empilhada verticalmente.

Styleguide Media
*/
.media {
  padding: 1.5em;
  background-color: #eee; /* Fundo neutro */
  border-radius: 0.5em; /* Bordas arredondadas */
  display: flex; /* Layout flexível */
  gap: 1.5em; /* Espaçamento entre imagem e conteúdo */
}

.media--stacked {
  flex-direction: column; /* Exibição vertical */
  align-items: start; /* Alinhamento inicial */
  max-width: 50%; /* Largura máxima */
}


.media__image {
  max-width: 100%; /* Imagem responsiva */
  height: auto;
}

.media__body {
  overflow: auto;
  margin-top: 0;
  text-align: justify; /* Texto justificado */
}

.media__body > h4 {
  margin-top: 0; /* Sem margem superior */
}

/* 
Dropdown

Menu suspenso que abre e fecha ao clicar no botão 
de alternância. Usa JavaScript para alternar a 
classe `is-open`.

Markup:
<div class="dropdown">
  <button class="dropdown__toggle">Open menu</button>
  <div class="dropdown__drawer">
    Drawer contents
  </div>
</div>

Styleguide Dropdown
*/
.dropdown {
  display: inline-block;
  position: relative; /* Necessário para posição do drawer */
}

.dropdown__toggle {
  padding: 0.5em 2em 0.5em 1.5em;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #eee;
}

.dropdown__toggle::after {
  content: "";
  position: absolute;
  right: 1em; /* Ícone alinhado à direita */
  top: 1em; /* Alinhamento vertical */
  border: 0.3em solid;
  border-color: black transparent transparent; /* Setinha para baixo */
}

.dropdown__drawer {
  display: none; /* Escondido por padrão */
  position: absolute;
  left: 0;
  top: 2.1em; /* Alinhamento com o botão */
  min-width: 100%;
  background-color: #eee;
}

.dropdown.is-open .dropdown__toggle::after {
  top: 0.7em; /* Setinha para cima */
  border-color: transparent transparent black;
}

.dropdown.is-open .dropdown__drawer {
  display: block; /* Mostra o menu */
}



/* 
Flex Order

Modifica a ordem de um elemento em flex container

Markup:
<div class="media">
  <img class="media__image" src="https://placehold.co/150X150" />
  <div class="media__body">
    <h4>Title</h4>
    <p>Body content here.</p>
  </div>
</div>


.media--stacked - Exibição empilhada verticalmente.

Styleguide Media
*/

.order-1 {
   order: 1;
}